<ion-card>
  <ion-card-header>
    Horarios de Clase de Baile Entretenido
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label>Lunes - 10:00 AM</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Martes - 7:30 PM</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Miercoles - 6:00 PM</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Jueves - 10:00 AM</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Viernes - 10:00 AM</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
